footer{
    background-color: var(--color-primary-3);
}
.footer-itens{
    display: flex;
    justify-content: space-evenly;
    padding:30px 8% 24px 8% ;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.copyrigth{
    color: var(--color-neutra-2);
    font-weight: 500;
    font-size: 18px;
}